.budget {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
  align-items: center;
  overflow: auto;
  margin-bottom: 2rem;

  &__btn {
    font-size: 1.4rem;
    width: 100%;
    display: flex;
    gap: 1.2rem;
  }

  &__btn-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    font-size: 16px;
    background: $fourth-color;
  }
}
