.statistics {
    display: flex;
    justify-content: space-between;


    &__container {
        background-color: $primary-color;
    }

    &__entries{
        display: flex;
        gap: 25%;
    }

    &__period-selection {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    &__transactions-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__transactions-list {
        list-style: none;
    }
}