:root {
  --primary-color: #e0c4ea;
  --addding-color-black: #000;
  --addding-color-white: #fff;
  --adding-color-light-grey: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Nunito Sans", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 0 1rem;
}

/* 
  =========================================
      [Reusable] 
  =========================================
*/

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.btn_small {
  width: 4.2rem;
  height: 4.2rem;
  padding: 1.1rem;
}

.btn_rounded {
  border-radius: 50%;
}

.btn_gray {
  background-color: var(--adding-color-light-grey);
}

.heading_primary {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2;
}

.heading_tertiary {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
}

/* 
  =========================================
      [Header] 
  =========================================
*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.header__controls {
  display: flex;
  gap: 0.5rem;
}
