.fade-in {
  animation-name: fadeIn;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 0.5s;
}

.fade-out {
  animation-name: fadeOut;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", "Roboto", "Helvetica", "Arial", system-ui !important;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-size: 1.6rem;
}

.container {
  padding: 0 2rem;
}

/* 
  =========================================
      [Header] 
  =========================================
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
.header__controls {
  display: flex;
  gap: 0.5rem;
}

.heading_primary {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 1.2;
}
.heading_secondary {
  font-weight: 650;
  font-size: 2.4rem;
  line-height: 1.2;
}
.heading_secondary--with-margin {
  margin-bottom: 1.4rem;
}
.heading_tertiary {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.2;
}

.paragraph {
  font-size: 1.4rem;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.account__icon {
  width: 50%;
  max-width: 120px;
  display: block;
  margin: 0 auto 2rem;
}
.account__name.MuiTypography-root {
  text-align: center;
  margin-bottom: 0.5rem;
}
.account__email.MuiTypography-root {
  text-align: center;
  margin-bottom: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.1s all;
}
.btn_small {
  padding: 1.1rem;
  width: 4.2rem;
  height: 4.2rem;
}
.btn_rounded {
  border-radius: 50%;
}
.btn_gray {
  background-color: #f4f4f4;
}
.btn_gray:active {
  background-color: rgb(222.6914817466, 222.6914817466, 222.6914817466);
}
.btn_pink {
  background-color: #e0c4ea;
}
.btn__icon_medium {
  width: 2.8rem;
  height: 2.8rem;
}
.btn__icon_small {
  width: 1.4rem;
  height: 1.4rem;
}

.MuiButtonBase-root.MuiButtonBase-root_pink {
  background-color: #e0c4ea;
  color: #000;
}
.MuiButtonBase-root.btn_pink-outlined {
  border-color: #e0c4ea;
  color: #000;
}

.budget {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.budget__btn {
  width: 50%;
  height: 8.3rem;
}

.error {
  background-color: rgba(255, 0, 0, 0.2);
  padding: 1rem 15%;
  border: 1px solid rgba(255, 0, 0, 0.2);
  position: absolute;
  top: 5%;
}

.financial-overview {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1rem;
}
.financial-overview__card {
  width: 50%;
  background-color: #000;
  color: #fff;
}

.input.MuiTextField-root {
  margin-bottom: 1rem;
}
.input.MuiTextField-root:last-of-type {
  margin-bottom: 2rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.loading__spinner.MuiCircularProgress-root {
  color: #e0c4ea;
}

.settings__container {
  padding: 5rem 2rem 0;
}

.statistics {
  display: flex;
  justify-content: space-between;
}
.statistics__container {
  background-color: #e0c4ea;
}
.statistics__entries {
  display: flex;
  gap: 25%;
}
.statistics__period-selection {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.statistics__transactions-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statistics__transactions-list {
  list-style: none;
}

.card {
  height: 17rem;
  width: 20rem;
  display: inline-block;
  flex-shrink: 0;
}
.card_black {
  background-color: #000;
  color: #fff;
}
.card_white {
  background-color: #f4f4f4;
  color: #000;
}
.card__list {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  margin-bottom: 2rem;
}
.card__list::-webkit-scrollbar {
  display: none;
}

.new-card-btn {
  background-color: #e0c4ea;
  border-radius: 15%;
  width: 12rem;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
}

.expenses {
  background-color: #f4f4f4;
  padding: 0 1rem 1.5rem;
  border-radius: 1rem;
}
.expenses__item-list {
  display: flex;
  gap: 1.8rem;
}
.expenses__item {
  display: inline-flex;
  flex-direction: column;
  gap: 1.2rem;
  width: fit-content;
  align-items: center;
}
.expenses__item-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 50%;
  background-color: #dbdbdb;
}
.expenses__item-value {
  width: fit-content;
  font-weight: 650;
}

.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
.login__input {
  display: block;
}
.login__input.MuiTextField-root {
  margin-bottom: 2rem;
}

.transaction {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 2.5fr 1fr;
}
.transaction__icon {
  width: 5rem;
}

/*# sourceMappingURL=style.css.map */
